<div class="modal fade" id="SessionTimeoutModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 id="titleSessionTimeoutModal" class="modal-title">Session Expiration Warning</h3>
                <div class="col-md-pull-4 pull-right">
                    <a href="https://login.microsoftonline.com/common/oauth2/v2.0/logout" class="btn btn-danger" aria-label="close">×</a>
                </div>
            </div>
            <div id="SessionTimeoutModalDiv" class="modal-body">
                <div class="col text-danger text-center">
                    <p><strong>Because you have been inactive, your session is expired and log out.</strong></p>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col text-center">
                    <a href="https://login.microsoftonline.com/common/oauth2/v2.0/logout" class="btn btn-primary text-center" aria-label="close">OK</a>
                </div>
            </div>
        </div>
    </div>
</div>
